body {
    font-family: 'Times New Roman', serif;
    background: #1E1E2D;
    color: #D4AF37;
    text-align: center;
}

.container {
    background: #28283D;
    padding: 25px;
    width: 350px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.5);
    border: 2px solid #D4AF37;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #FFD700;
}

input {
    width: 92%;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid #D4AF37;
    border-radius: 5px;
    background: #3A3A55;
    color: #FFD700;
}

input::placeholder {
    color: #B8A500;
}

button {
    background: #D4AF37;
    color: #1E1E2D;
    padding: 12px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: #B8A500;
    color: white;
}

.footer {
    margin-top: 15px;
    font-size: 14px;
    color: #B8A500;
}
